<template>
  <div class="wrapper">
    <div class="_w-128px _h-at _bgcl-white _dp-f _alit-ct _jtfct-ct _bdrd-16px">
      <!-- Loading -->
      <div class="_pdv-24px">
        <i class="fal fa-spin fa-spinner-third fa-4x" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    if (process.browser) {
      document.body.style.overflowY = 'hidden'
    }
  },
  destroyed() {
    // console.log('loading destroyed')
    if (process.browser) {
      document.body.style.overflowY = 'auto'
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.07);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fa-spin {
  animation-duration: 0.5s; // or something else
}
</style>

