// .swiper-wrapper {
//   transition-timing-function: linear !important;
// }

.swiper-pagination {
  // z-index: -1;

  .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.8) !important;
    opacity: 0.5;
    margin: 0 8px !important;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    cursor: pointer;

    &.swiper-pagination-bullet-active {
      background: rgba(0, 0, 0, 0.9) !important;
      border: 2px solid #fff;
      opacity: 1;
    }
  }
}

.swiper-button-prev {
  display: none;

  @media(min-width:$md) {
    display: inline-block;
    transition: 0.25s;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background-image: none;
    width: 42px;
    height: 42px;
    background-color: #fff;

    &::after {
      content: '\f060';
      font-family: "Font Awesome 5 Pro";
      text-align: center;
      font-weight: 500;
      color: $default-link;
      position: absolute;
      top: 8px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-button-next {
  display: none;

  @media(min-width:$md) {
    display: inline-block;
    transition: 0.25s;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background-image: none;
    width: 42px;
    height: 42px;
    background-color: #fff;

    &::after {
      content: '\f061';
      font-family: "Font Awesome 5 Pro";
      text-align: center;
      font-weight: 500;
      text-align: center;
      color: $default-link;
      position: absolute;
      top: 8px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-button-disabled {
  opacity: 0 !important
}
