html,
body {
  overflow: hidden;
  max-width: 100% !important;
  background: #fff;
  color: $default-color;
  font-family: 'Barlow Condensed';
  min-height: 100vh;
}

// * {
//   -webkit-overflow-scrolling: touch;
// }

._mnh-48px {
  min-height: 48px !important;
}

._mxh-64px {
  max-height: 64px !important;
}

a {
  color: $default-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow Condensed';
  font-weight: 600;
  // line-height: 100%;
  outline: none !important;
}

p {
  font-size: 18px;
}

button {
  font-weight: 400;
  line-height: 100%;
  outline: none !important;
}

._cs-pt {
  user-select: none !important;
}

.page-enter-active,
.page-leave-active {
  transition: .1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

._mnh-100vh {
  min-height: 100vh; // background: rgba(0, 0, 0, 0.02);
}

[lazy] {
  // transition: 0.25s;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  // background-size: 100px;
}

[lazy=loading] {
  width: 48px;
  height: 48px;
  // object-fit: scale-down;
}

[lazy=loaded] {
  opacity: 1;
  width: 100%;
  background-size: cover;
  // background-size: 50px;
}

._aprt-1-1 {
  padding-top: 100%;
}

.loading-overlay {
  z-index: 9999 !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
  z-index: 0;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  z-index: 0;
}

.timeTable {
  .checkbox-cell {
    vertical-align: middle;
  }
}

.gm-ui-hover-effect {
  display: none !important;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.35) !important;
}

.modal {
  justify-content: flex-start !important;

  .modal-content {
    top: 72px;
  }
}

._cl-blue {
  color: $blue;
}
