.-wp {
  // font-family: Barlow, Kanit;
  font-family: 'Noto Sans';
  line-height: 175%;
  font-size: 1.1em;

  p {
    white-space: pre-wrap;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  table {
    margin: 24px 0px;
    width: 100% !important;

    &.blue {
      border: 1px solid $default-color;

      tr {
        &:first-child {
          td {
            color: #fff;
            background-color: $default-color;

            &:not(:last-child) {
              border-right: 1px solid #fff;
            }
          }
        }

        &:not(:first-child) {
          td:not(:last-child) {
            border-right: 1px solid $default-color;
          }
        }
      }
    }

    &.gold {
      border: 1px solid $secondary;
      color: $secondary;

      tr {
        &:first-child {
          td {
            color: #fff;
            background-color: $secondary;

            &:not(:last-child) {
              border-right: 1px solid #fff;
            }
          }
        }

        &:not(:first-child) {
          td:not(:last-child) {
            border-right: 1px solid $secondary;
          }
        }
      }
    }

    td {
      padding: 12px 12px;
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }
  }
}
