<template>
  <div id="top" class="_ovf-hd _w-100pct _h-100pct">
    <nuxt />
    <!-- <small>{{ $store.state.buildId }}</small> -->
    <!-- Loading -->
    <no-ssr>
      <fade-transition>
        <LoadingCurtain v-if="$store.state.isLoading" />
      </fade-transition>
    </no-ssr>
  </div>
</template>

<style lang="scss" scoped>
.z-999 {
  z-index: 999;
}
</style>
