<template>
  <div id="top" class="_pst-f _t-0px _l-0px _ovf-hd _w-100pct _h-100pct">
    <!-- Header -->
    <div class="_pst-asl _t-0px _l-0px _r-0px z-999">
      <HeaderStatic />
    </div>
    <nuxt />
    <!-- <small>{{ $store.state.buildId }}</small> -->
    <!-- Loading -->
    <no-ssr>
      <fade-transition>
        <LoadingCurtain v-if="$store.state.isLoading" />
      </fade-transition>
    </no-ssr>
  </div>
</template>

<style lang="scss" scoped>
.z-999 {
  z-index: 999;
}
</style>
