<template>
  <div />
</template>

<script>
export default {
  layout: 'unsupported',
  mounted() {
    if (process.browser) {
      // Clear localStorage
      // window.localStorage.clear()
      this.$cookies.remove('__session')
      this.$store.commit('auth/SET_TOKEN', null)
      return this.$router.replace(
        this.localePath({
          name: 'index'
        })
      )
    }
  }
}
</script>
